@{
    ViewData["Title"] = "درباره ما |";
    ViewData["description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["keywords1"] = "sharghpc";
    ViewData["keywords2"] = "خدمات کامپیوتر شرق";
    ViewData["keywords3"] = "درباره خدمات کامپیوتر شرق";
    ViewData["keywords4"] = "شرق پی سی";
    ViewData["og:title"] = "خدمات کامپیوتر شرق";
    ViewData["og:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["twitter:title"] = "خدمات کامپیوتر شرق";
    ViewData["twitter:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";

}

<main class="main">

    <div class="site-breadcrumb">
        <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
        <div class="container">
            <div class="site-breadcrumb-wrap">
                <h4 class="breadcrumb-title">درباره ما</h4>
                <ul class="breadcrumb-menu">
                    <li><a href="/"><i class="far fa-home"></i> صفحه اصلی</a></li>
                    <li class="active">درباره ما</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="about-area py-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                        <div class="about-img">
                            <center>

                                <img width="1000" height="1000" src="~/images/IMG_20240402_174228 (2).jpg" alt>
                                <br/>

                            </center>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-lg-12">
                    <div class="about-right wow fadeInRight" data-wow-delay=".25s">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline justify-content-start">
                                <i class="flaticon-drive"></i> درباره ما
                            </span>
                            <h2 class="site-title">
                                فروشگاه خدمات کامپیوتر شرق                 
                                </h2>
                        </div>
                        <p>
                            فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ و کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات و تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر 
                        </p>
                        <br/>
                        <div class="terms-content">
                            <h3>خدمات کامپیوتر ارائه دهنده تمامی خدمات ذیل</h3>
                            <ul class="terms-list ms-4">
                                <li>1.  تعمیرات لپ تاپ و کامپیوتر  .</li>
                                <li>2. ارتقا لپ تاپ و کامپیوتر .</li>
                                <li>3. نصب ویندوز برای لپ تاپ و کامپیوتر </li>
                                <li>4.  نصب انواع برنامه های کاربردی.</li>
                                <li>5. اسمبل سیستم های کامیپوتری .</li>
                                <li>6. رفع مشکل کندی ویندوز.</li>
                                <li>7. عیب یابی و رفع تمامی مشکلات نرم افزاری لپ تاپ و کامپیوتر.</li>
                                <li>8. نصب ویندوز و برنامه های کابردی در محل.</li>
                                <li>9.فروش انواع لپ تاپ و کامپیوتر.</li>
                                <li>10.فروش انواع قطعات لپ تاپ و کامپیوتر.</li>
                                <li>11.فروش لوازم جانبی لپ تاپ و کامپیوتر.</li>
                                <li>12. فروش لوازم جانبی گوشی فروش انواع حافظه های ذخیره ساز.</li>
                                <p>تمامی خدمات با 10 سال تجربه و سابقه به شما عزیزان ارائه میشود</p>
                             

                            </ul>
                        </div>
                        <p>در حال حاضر فروش محصولات در فروشگاه خدمات کامپیوتر شرق هم به شکل اینترنتی و هم به شکل حضوری ممکن است . همچنین نحوه ارسال در تهران بصورت پیک موتوری است و ارسال برای سایر شهرها از طریق پست و تیپاکس می‌باشد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>