@{
    
        ViewData["Title"] = "تماس با ما |";
        ViewData["description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
        ViewData["keywords1"] = "sharghpc";
        ViewData["keywords2"] = "خدمات کامپیوتر شرق";
        ViewData["keywords3"] = "ارتباط با خدمات کامپیوتر شرق";
        ViewData["keywords4"] = "شرق پی سی";
        ViewData["og:title"] = "خدمات کامپیوتر شرق";
        ViewData["og:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
        ViewData["twitter:title"] = "خدمات کامپیوتر شرق";
        ViewData["twitter:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";


    
}


<main class="main">

    <div class="site-breadcrumb">
        <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
        <div class="container">
            <div class="site-breadcrumb-wrap">
                <h4 class="breadcrumb-title">  تماس با ما</h4>
                <ul class="breadcrumb-menu">
                    <li><a href="/"><i class="far fa-home"></i> صفحه اصلی</a></li>
                    <li class="active">تماس با ما  </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="contact-area py-100">
        <div class="py-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="terms-content">
                            <h3>
                                شماره تلفن : <a href="/">02177424180</a>
                            </h3>
                            <h3>
                                شماره همراه : <a href="/">09351970147</a>
                            </h3>
                        </div>
                        <div class="terms-content">
                            <h3>آدرس فروشگاه حضوری ما: </h3>
                            <p> تهران ، پیروزی ، خیابان نیروهوایی، فلکه دوم نیروهوایی، خیابان منادی یا 5/30 ، پاساژ ولیعصر ، پلاک 44</p>
                        </div>
                        <div class="terms-content">
                            <h3>راه های ارتباطی بیشتر </h3>
                            <p>اینستاگرام ما : @@sharghpc.ir</p>
                            <p>واتساپ : <a href="whatsapp://send?phone=989351970147">09351970147</a></p>
                        </div>
                     
                        
                    </div>
                    <div class="col-md-6">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12960.528616651363!2d51.50713671284176!3d35.69836540000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0300256556e1%3A0xe91b7375f5e58162!2z2K7Yr9mF2KfYqiDaqdin2YXZvtuM2YjYqtixINi02LHZgg!5e0!3m2!1sfa!2s!4v1718635125836!5m2!1sfa!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>





</main>