@{
    ViewData["Title"] = "جست و جو |";
    ViewData["description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["keywords1"] = "sharghpc";
    ViewData["keywords2"] = "خدمات کامپیوتر شرق";
    ViewData["keywords3"] = "کامپیوتر شرق";
    ViewData["keywords4"] = "شرق پی سی";
    ViewData["og:title"] = "خدمات کامپیوتر شرق";
    ViewData["og:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["twitter:title"] = "خدمات کامپیوتر شرق";
    ViewData["twitter:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";

}


<!-- breadcrumb start -->
<section class="breadcrumb-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>جستجو</h2>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جستجو</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb End -->
<!--section start-->
<section class="authentication-page">
    <div class="container">
        <section class="search-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form class="form-header">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="جستجو محصول......">
                                <div class="input-group-append">
                                    <button class="btn btn-solid"><i class="fa fa-search"></i>جستجو</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- section end -->