@{
    ViewData["Title"] = "قوانین و مقررات |";
    ViewData["description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["keywords1"] = "sharghpc";
    ViewData["keywords2"] = "خدمات کامپیوتر شرق";
    ViewData["keywords3"] = "قوانین و مقررات";
    ViewData["keywords4"] = "شرق پی سی";
    ViewData["og:title"] = "خدمات کامپیوتر شرق";
    ViewData["og:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["twitter:title"] = "خدمات کامپیوتر شرق";
    ViewData["twitter:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";

}



<main class="main">

    <div class="site-breadcrumb">
        <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
        <div class="container">
            <div class="site-breadcrumb-wrap">
                <h4 class="breadcrumb-title">قوانین و مقررات</h4>
                <ul class="breadcrumb-menu">
                    <li><a href="/"><i class="far fa-home"></i> صفحه اصلی</a></li>
                    <li class="active">قوانین و مقررات</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="py-100">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="terms-content">
                        <h3>قوانین و مقررات:</h3>
                        <p>
                            ثبت نام یا ثبت سفارش از خدمات کامپیوتر شرق به معنای قبول قوانین و شرایط مندرج در این صفحه از خدمات کامپیوتر شرق میباشد.
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>جستجوی کالا</h3>
                        <p>
                            برای یافتن کالای مورد نیاز خود می توانید از قسمت جستجو در صفحه اصلی استفاده کنید
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3> نحوه تکمیل فرایند خرید</h3>
                        <p>
                            پس از انتخاب کالای مورد نظر، افزودن به سبد خرید را انتخاب کرده تا کالای شما در لیست سفارشات قرار گیرد؛ سپس با کلیک کردن بر روی سبد خرید در بالای سمت چپ صفحه می توانید کالاهایی که انتخاب کرده اید را مدیریت کرده و سپس با رفتن به  ادامه ثبت سفارش، اطلاعات لازم را وارد کرده و در نهایت سفارش خود را ثبت کنید
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>توجه</h3>
                        <p>
                            پس از تکمیل اطلاعات کاربری خود در پایین صفحه پیش فاکتور شما نمایش خواهد داده شد که به تعداد درخواست کالای خود و قیمت پیش از ثبت سفارش توجه فرمایید
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>نوسانات قیمت</h3>
                        <p>
                            به دلیل ناپایدار بودن قیمت ارز امکان تغییر در قیمت نهایی وجود دارد و قیمت کالای فروخته شده به قیمت روز محاسبه خواهد شد. در صورت تغییر قیمت به مشتری قیمت جدید اعلام خواهد شد ، در صورت تایید مشتری برای ایشان ارسال و در صورت تایید نشدن مبلغ واریزی مشتری به طور کامل مسترد خواهد شد.
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>نحوه ارسال کالا</h3>
                        <p>
                            در شرایط ویژه مانند تعطیلات یا روزهای شلوغ و پرازدحام، برحسب روش و محل دریافت سفارش، زمان ارسال متفاوت می باشد که از طریق تماس با خدمات کامپیوتر شرق می توانید از رویه ارسال مطلع شوید
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>خسارت در هنگام حمل و نقل</h3>
                        <p>
                            خدمات کامپیوتر شرق همواره نهایت تلاش خود را می‏‌کند تا کلیه سفارش‏‌ها در نهایت صحت و بدون آسیب به دست مشتریان خود برسد.
                        </p>
                        <p>
                            با توجه به بسته‌بندی ایمن و استاندارد همه مرسولات، تحویل به هر یک از شرکت‌‏های حمل و نقل معتبر به این معنی است که بروز هر گونه حادثه در هنگام حمل و تحویل به عهده شرکت حمل و نقل است و خدمات کامپیوتر شرق تنها در صورت تایید شرکت حمل نقل خسارت را جبران می‌‏کند. آسیب‏‌های ناشی از و  باید در عرض ۲۴ ساعت کاری پس از تحویل سفارش به خدمات خدمات کامپیوتر شرق اطلاع داده شود تا مورد ببرسی قرار گیرد..
                        </p>
                    </div>
                    <div class="terms-content">
                        <h3>روش های پرداخت</h3>
                        <h3>  کارت به کارت و ارسال رسید بانکی</h3>

                        <p>
                            پس از تکمیل اطلاعات کاربری خود در پایین صفحه پیش فاکتور شما نمایش خواهد داده شد که به تعداد درخواست کالای خود و قیمت پیش از ثبت سفارش توجه فرمایید
                        </p>
                        <h3>  درگاه پرداخت زرین پال(به زودی)</h3>

                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</main>