@model SharghPc.DataLayer.DTOs.Account.ForgetPasswordDto
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<!-- breadcrumb start -->
<section class="breadcrumb-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>فراموشی رمز عبور</h2>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb End -->
<!--section start-->
<section class="pwd-page section-b-space ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <h2>رمز خود را فراموش کردیده اید</h2>
                <form asp-controller="Account" asp-action="ForgetPassword" method="post" class="theme-form">
                    <div class="row">
                        <div class="col-md-12">
                            <input asp-for="Mobile" type="text" class="form-control" placeholder="شماره خود را وارد نمایید" required="">
                        </div><button type="submit" class="btn btn-solid">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
@section Scripts
{
    <partial name="_CaptchaScripts"/>
}
