@using SharghPc.DataLayer.DTOs.Account
@model LoginUserDto

@{
    ViewData["Title"] = "ثبت نام/ورود |";
    ViewData["description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["keywords1"] = "sharghpc";
    ViewData["keywords2"] = "خدمات کامپیوتر شرق";
    ViewData["keywords3"] = "ورود به خدمات کامپیوتر شرق";
    ViewData["keywords4"] = "شرق پی سی";
    ViewData["og:title"] = "خدمات کامپیوتر شرق";
    ViewData["og:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";
    ViewData["twitter:title"] = "خدمات کامپیوتر شرق";
    ViewData["twitter:description"] = "فروشگاه خدمات کامپیوتر شرق ارائه دهنده انواع لوازم جانبی لپ تاپ کامپیوتر و گوشی های موبایل از برند های معتبر و همچنین ارائه دهنده تمامی خدمات تعمیرات سخت افزار و نرم افزار مربوط به لپ تاپ و کامپیوتر";

}
<link href="~/notifications.css" rel="stylesheet" />
<script src="~/notifications.js"></script>
<script src="~/custom.js"></script>

<main class="main">

    <div class="site-breadcrumb">
        <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
        <div class="container">
            <div class="site-breadcrumb-wrap">
                <h4 class="breadcrumb-title">ثبت نام/ورود</h4>
                <ul class="breadcrumb-menu">
                    <li><a href="/"><i class="far fa-home"></i> صفحه اصلی</a></li>
                    <li class="active">ثبت نام/ورود</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-area py-100">
        <div class="container">
            <div class="col-md-7 col-lg-5 mx-auto">
                <div class="login-form">
                    <div class="login-header">
	                    <img src="~/logo2.png" alt="logo2">
                        <br/>
	                    <label>خوش اومدی :)</label>

                    </div>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="form-group">
	                        <label>شماره موبایل</label>
                            <input type="number" name="number" class="form-control" placeholder="شماره موبایل" required="">
                        </div>
                       
                        <div class="d-flex justify-content-between mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="remember">
                                <label class="form-check-label" for="remember">
                                    مرا به خاطر بسپار
                                </label>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="submit" class="theme-btn"><i class="far fa-sign-in"></i> ورود</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>




</main>
@section Scripts
    {
    <partial name="_CaptchaScripts" />
}
