@model SharghPc.Application.Services.ResultLoginAndRegisterWithMobileDto

<form method="post" asp-controller="LoginTest" asp-action="login2">
	<input type="hidden" asp-for="Mobile" name="mobile" />
	<input type="number" name="code" />
	<input type="submit" />
</form>